{
  "version": "{{tag_without_v}}",
  "description": "Yet another repository management with auto-attaching profiles",
  "homepage": "https://github.com/siketyan/ghr",
  "license": {
    "identifier": "MIT",
    "url": "https://github.com/siketyan/ghr/blob/main/LICENCE.md"
  },
  "architecture": {
    "64bit": {
      "url": "{{{assets.windows_x86_64.browser_download_url}}}",
      "hash": "{{assets.windows_x86_64.hash}}"
    }
  },
  "bin": "ghr.exe"
}
